.gallerymom{
  background-image: url(/images/bgcgallery.png);
}
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px; /* Ensure the gallery is centered within the max width */
}

.gallery-item {
  color: azure;
  width: 100%;
  max-width: 300px; /* Ensure the gallery item doesn't exceed the max width */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(109, 109, 109, 0.1);
  transition: transform 0.3s;
  margin: 0 auto; /* Center each gallery item */
  background-color: #1a171771;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: 200px; /* Fixed height */
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
}

.gallery-caption {
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.page-btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.page-btn:hover:not(:disabled) {
  background-color: #0056b3;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.662);
}

.popup-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain; /* Ensure the popup image maintains aspect ratio and fits within the viewport */
}

.popup-caption {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
